body {
  /* margin-left: 10px; */
  font-family: "Comfortaa", cursive;
}
#menu li {
  list-style: none;
  margin-top: 3px;
  margin-left: 0;
  width: 100%;
  padding: 8px;
  border: 1px solid green;
  background-color: rgb(9, 168, 9);
}
#menu li a {
  text-decoration: none;
  color: white;
}
#menu li a:focus,
:link,
:visited {
  font-weight: bolder;
  background-color: green;
}
#menu :hover,
:focus {
  font-weight: bolder;
  background-color: green;
}
